<!DOCTYPE html>
<html>
<head>
  <title>WORLD@SOUTH | Official Website</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<container>
<%= yield %>
</container>

</body>
</html>

